
header{
    background-color: #19193d;
}

/* Aside styling */
.pb-3 {
    display: flexbox;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* form styling */
.form-input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px; 
    width: 100%

};

/* search button */
#search-input{
    display: block;
 
}

.search-button{
    display: flex;
    background-color: #1463b8cc;
    width: 100%;
    align-items: center;
    border-radius: 3px;
    border: none;
    padding: 5px 135px;
    color: #f4f2f2;
  }

  /* line in aside */
hr {
    border: solid thin;
    width: 100%;
    margin: 15px 0px;
    padding: 0;
}

/* search history button */
.search-history{
    margin-bottom: 15px;
    padding: 5px;
    background: #9e9d9d;
    border: none;
    border-radius: 3px;
    width: 100%;
    /* padding: 5px 135px; */

}

/* First date  section*/
#today{
    border: solid 0.1px;
    padding-left: 5px;
    margin: 0;
    background: #e1e1e1;
}

 
.city-details{
    display: inline-flex;
    font-weight: bold;
}

img{
    display: relative;
    top: -3px;
    align-self: center;
    text-shadow: 2px 2px 4px black;
}

/* weather forecast heading */
#forecast-range{
    font-weight: bold;
    margin-left: 0px;
}

/* weather forecast section */
#forecast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 3px 0px 3px;
}

/* weather forecast cards */
.card{
    display: flex;
    justify-content: space-around;
    padding: 5px 20px;
    color: aliceblue;
    background-color: rgb(31, 50, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



