
header{
    background-color: #19193d;
}

.city-details{
    display: inline-flex;
    font-weight: bold;
}

.pb-3 {
    display: flexbox;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.form-input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px; 
    width: 100%

};

#search-input{
    
 
}

.search-button{
    display: flex;
    background-color: #1463b8cc;
    width: 100%;
    align-items: center;
    border-radius: 3px;
    border: none;
    padding: 5px 135px;
    color: #f4f2f2;
  }

#today{
    border: solid 0.1px;
    padding-left: 5px;
    margin: 0;
    background: #e1e1e1;
}

#forecast-range{
    font-weight: bold;
    margin-left: 0px;
}

img{
    display: relative;
    top: -3px;
    align-self: center;
    text-shadow: 2px 2px 4px black;
}

.card{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px 20px;
    color: aliceblue;
    background-color: rgb(31, 50, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#forecast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 3px 0px 3px;
}

.search-history{
    margin-bottom: 15px;
    padding: 5px;
    background: #9e9d9d;
    border: none;
    border-radius: 3px;
    width: 100%;

}

hr {
    border: solid thin;
    width: 100%;
    margin: 15px 0px;
    padding: 0;
}